.bar {
  background-color: #ffdc61;
  height: 80px;
  padding: 5px;
  font-family: comic sans MS;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.logo {
  width: 80px;
  height: 80px;
  float: left;
}

.rest {
  margin-top: 20px;
  overflow: hidden;
}

.tekst {
  width: 200px;
  float: left;
}

.iconSearch {
  width: 35px;
  float: left;
}

.inputdiv {
  width: 70%;
  float: left;
  transition: width 1s;
}

.input {
  width: 96%;
  float: left;
  transition: width 1s;
}

@media only screen and (max-width: 1400px) {
  .inputdiv {
    width: 50%;
    float: left;
  }

  .input {
    width: 76%;
    float: left;
  }
}

@media only screen and (max-width: 870px) {
    .tekst {
        display: none;
      }
  .iconClose{
      display: none;
  }
  .iconUser {
    width: 37px !important;
    float: right;
  }

  .transfer {
    margin-left: 10px !important;
    width: 37px !important;
    float: right;
  }

  .UK {
    margin-left: 10px !important;
    width: 35px !important;
    float: right;
  }
}

.search {
  overflow: hidden;
}

.iconClose {
  width: 35px;
  float: left;
}

.iconUser {
  width: 47px;
  float: right;
}

.transfer {
  margin-left: 25px;
  width: 47px;
  float: right;
}

.UK {
  margin-left: 25px;
  width: 45px;
  float: right;
}
