.scheduler {
  margin-top: 20px;
  border-collapse: collapse;

  .thead {
    display: flex;
    width: 100%;
  }

  .tbody {
    display: flex;
    &__column {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1;
    }
  }

  .td,
  .th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    flex: 1;
  }
  .td:hover {
    background-color: #ddd;
  }
}
