.lecture {
  position: relative;
  z-index: 10;
  padding: 5px;
  padding-left: 20px;
  background-color: #e6c759;
  font-size: 18px;
  font-family: Lato;
}
.lecture:hover{
  background-color: #d4b851;
  cursor: pointer;
}
.dropdown::-webkit-scrollbar {
  display: none;
}
.dropdown {
  max-height: 400px;
  overflow-y: auto;
}
.top-bar__input-field {
  width: 100%;
}

