.right-bar {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    font-family: Lato;
    &__text {
      border-bottom: 1px solid;
    }
    height:85vh;
    overflow-y: scroll;

  }